name: Update data
on:
  workflow_dispatch:
  schedule:
    - cron: '15 0 * * *'
jobs:
  update:
    name: Update data
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - run: python generate-data.py
      - name: Commit the data
        run: |
          git diff --quiet data-reduced.json && echo "No changes" && exit 0
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add data-reduced.json
          git commit -m "Update lighthouse data from Postpass"
          git push
